/* CSS declarations go here */

.item {
    width: 284px;
}

.thumbnail {
    margin: 1px;
}

#container{
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
    padding: 0;
}