<template name="Signup">

  <div><input type="text" class="form-control empty" name="id" placeholder="가입하실 아이디를 입력하세요">
  </div>
  <br/>

  <div><input type="password" class="form-control empty" name="password" placeholder="가입하실 암호를 입력하세요">
  </div>
  <br/>

  <p>당신의 직급은?

    <select name='rank' class="form-control" id="genderInput">
      <option value="7">사장</option>
      <option value="6">전무</option>
      <option value="5">이사</option>
      <option value="4">부장</option>
      <option value="3">차장</option>
      <option value="2">과장</option>
      <option value="1">대리</option>
      <option value="0">사원</option>
    </select>

  </p>
  <br/>
  <button class="btn btn-primary" name="save">가입하기</button>
  <a href="signin">
    <button class="btn btn-flat" name="signUp">취소</button>
  </a>


</template>