<template name="home">
  {{#if currentUser}}
  {{else}}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>로그인을 해주세요</h4>

      <p>로그인 하시면 모든 기능을 사용하실수 있습니다.</p>
    </div>
  {{/if}}

  {{#each asdf }}
    {{title}}
  {{/each}}

  {{#masonryContainer columnWidth=0 transitionDuration="0.1s" id="MasonryContainer" }}
    {{#each diarysData}}
      <h1>goo</h1>
      {{#masonryElement "MasonryContainer"}}
        <h1>goo</h1>
        {{>diarysItem}}
      {{/masonryElement}}
    {{/each}}
  {{/masonryContainer}}
</template>
