<template name="NavBar">

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">사내일지</a>
      </div>

      <div class="collapse navbar-collapse" id="bar">
          {{#if currentUser}}
            <ul class="nav navbar-nav">
              <li><a href="post">일지쓰기</a></li>
              <li><a href="approval">결재 <span class="badge">2{{countBox}}</span></a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
          {{else}}

            <ul class="nav navbar-nav navbar-right">
              <li><a href="signin">접속</a></li>
              <li><a href="signup">가입</a></li>
            </ul>
          {{/if}}

      </div>
    </nav>
      {{>yield}}
  </div>

</template>


<template name="Post">
  <form class="main form">
    <div class="form-group">
      <div class="controls">
        <input name="title" id="title" type="text" value="" placeholder="제목 뭐라고 부를껀가요" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <textarea name="content" id="" cols='100%' rows="10" placeholder="오늘 일어난일은?"></textarea>
      </div>
    </div>

    <input type="submit" value="등록하기" class="btn btn-primary"/>

  </form>
</template>


<template name="Front">

    {{#if currentUser}}

    {{else}}

      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>로그인을 해주세요</h4>

        <p>로그인 하시면 모든 기능을 사용하실수 있습니다.<a href="javascript:void(0)" class="alert-link"></a>.</p>
      </div>

    {{/if}}

  <div id="container">
      {{#each dairys}}
        <div class="item">
            {{>DairysItem}}
        </div>
      {{/each}}


  </div>

</template>


<template name="DairysItem">


  <div class="thumbnail">
    <img src="http://www.online-image-editor.com//styles/2014/images/example_image.png">
    <a href="{{pathFor 'dairy.show'}}"><h3>{{title}}</h3></a>

    <p>{{content}}</p>

    <button id="remove" class="btn btn-primary btn-flat">Remove
      <div class="ripple-wrapper"></div>
    </button>
  </div>

</template>

<template name="DairysItemList">

  <div class="thumbnail">
    <h1>{{title}}</h1>

    <p>{{content}}</p>

    <button id="remove" class="btn btn-primary btn-flat">Remove
      <div class="ripple-wrapper"></div>
    </button>
  </div>

</template>


<template name="Approval">
  <p>결재가 올라갈 직업을 선택해주세요</p>

  <select class="form-control" id="genderInput">
    <option value="7">사장</option>
    <option value="6">전무</option>
    <option value="5">이사</option>
    <option value="4">부장</option>
    <option value="3">차장</option>
    <option value="2">과장</option>
    <option value="1">대리</option>
    <option value="0">사원</option>
  </select>
  <button id="remove" class="btn btn-primary">결재올리기
    <div class="ripple-wrapper"></div>
  </button>
</template>


<template name="NotFound">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>Oops!</h1>

          <h2>404 Not Found</h2>

          <div class="error-details">
            Sorry, an error has occured, Requested page not found!
          </div>
          <div class="error-actions">
            <a href="{{pathFor 'main'}}" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-home"></span>Take
              Me Home </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


